<template>
    <div>
        <invite :company="$store.state.Company.Data" v-if="$store.state.Client.All.length == 0"></invite>
        <table class="table table-striped table-bordered table-hover" v-if="$store.state.Client.All.length != 0">
            
            <thead>
                <tr>
                <th scope="col" style="width: 35%;">Name</th>
                <th scope="col"  style="width: 35%;">Email</th>
                <th scope="col"  style="width: 30%;" class="text-center" colspan="4">Option</th>
                </tr>
            </thead>
            <tbody>
               

                <tr
                    v-for="(client, index) in $store.state.Client.All"
                    :key="index">
                    <th>{{client.name}}</th>
                    <td>{{client.email}}</td>
                    <td>
                        <a 
                            :href="client.path"
                            class="btn btn-primary"
                        >
                            View
                        </a>
                    </td>
                    <td>
                        <a 
                            :href="`${client.path}/loan`"
                            class="btn btn-primary"
                        >
                            Loan
                        </a>
                    </td>
                    <td>
                        <button 
                            @click="setView(client)"
                            type="button" 
                            class="btn btn-primary" 
                            data-toggle="modal" 
                            data-target="#editClient">
                            Edit
                        </button>
                        <edit v-if="$store.state.Client.View.length != 0" :client="$store.state.Client.View"></edit>
                    </td>
                    <td>
                        <remove :client="client"></remove>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</template>

<script>
import Remove from './Remove'
import Edit from './Edit'
import Invite from './Invite'

export default {
    props: ['clients', 'company'],
    components: {
        Remove,
        Edit,
        Invite
    },
    created () {
        this.$store.commit('RESET_VIEW_CLIENT')
        this.$store.commit('SET_ALL_CLIENT', this.clients)
        this.$store.commit('SET_COMPANY_DATA', this.company)
    },
    methods: {
        setView (value) {
            this.$store.commit('SET_VIEW_CLIENT', value)
        }
    }
}
</script>