<template>
    <div>
        

        <!-- Modal -->
        <div class="modal fade" id="editClient" tabindex="-1" role="dialog" aria-labelledby="editClientLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editClientLabel">Edit Client {{client.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="$store.commit('RESET_VIEW_CLIENT')">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <div class="form-group">
                    <label for="companyName">Name</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="name" 
                        aria-describedby="clientName" 
                        placeholder="Enter Client Name"
                        v-validate="'required'"
                        name="Name"
                        v-model="name">
                     <small id="clientName" class="form-text text-danger">{{errors.first('Name')}}</small>
                </div>

                
                <div class="form-group">
                    <label for="companyName">Email</label>
                    <input 
                        type="email" 
                        class="form-control" 
                        id="email" 
                        aria-describedby="inviteEmail" 
                        placeholder="Enter Email Address"
                        v-validate="'required|email'"
                        name="Email"
                        v-model="email">
                     <small id="inviteEmail" class="form-text text-danger">{{errors.first('Email')}}</small>
                </div>


                <div class="form-group">
                    <label for="companyName">Address</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="address" 
                        aria-describedby="clientAddress" 
                        placeholder="Enter Address"
                        v-validate="'required'"
                        name="Address"
                        v-model="address">
                     <small id="clientAddress" class="form-text text-danger">{{errors.first('Address')}}</small>
                </div>

                <div class="form-group">
                    <label for="companyName">Date of Birth</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="birthday" 
                        aria-describedby="clientAddress" 
                        placeholder="Enter Birthday"
                        v-validate="'required|date_format:dd-MM-yyyy'"
                        name="Birthday"
                        v-model="birthday">
                     <small id="clientAddress" class="form-text text-danger">{{errors.first('Birthday')}}</small>
                </div>
            </div>
            <div class="modal-footer">
                <button 
                    type="button" 
                    class="btn btn-secondary" 
                    data-dismiss="modal"
                    @click="$store.commit('RESET_VIEW_CLIENT')"
                    >Close</button>
                <button type="button" class="btn btn-primary" @click="validateField">Save changes</button>
            </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['client'],
    data() {
        return {
            name: '',
            email: '',
            address: '',
            birthday: ''
        }
    },
    mounted() {
           $('#editClient').modal({
                backdrop: 'static',
                keyboard: false
            })
            this.name = this.client.name
            this.email = this.client.email
            this.address = this.client.address
            this.birthday = this.client.birthday_view
    },
    methods: {
        validateField () {
            this.$validator.validateAll().then((result) => {

                if(!result){

                    this.$swal({
                        type: 'error',
                        title: 'Ooopps!',
                        text: 'Some required fields are missing.',
                        showConfirmButton: false,
                        timer: 1500
                    })

                    return;
                }

                this.createClient()

            }).catch((e) => {
                console.log(e)
            });
        },
        createClient () {
            axios.patch(`${this.client.path}`, {
                name: this.name,
                email: this.email,
                address: this.address,
                birthday: this.birthday
            }).then( res => {
                console.log(res.data.client)
                this.$store.commit('RESET_ALL_CLIENT')
                this.$store.commit('RESET_VIEW_CLIENT')
                this.$store.commit('SET_ALL_CLIENT', res.data.client)

                this.$swal({
                    type: 'success',
                    title: 'Congratulations',
                    text: res.data.success,
                    showConfirmButton: false,
                    timer: 1500
                })

                this.name = ''
                this.email = ''
                this.address = ''
                this.birthday = ''

                this.$validator.reset()

                $('#editClient').modal('hide')
            }).catch( err => {
                this.$swal({
                    type: 'error',
                    title: 'Ooopps!',
                    html: err.response.data.error,
                    showConfirmButton: false,
                    timer: 2000
                })
            })
        }
    }
}
</script>