<template>
    <div>
        <div class="card">
            <div class="card-body">
                <h4>Create Client</h4>
                <div class="form-group">
                    <label for="companyName">Name</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="name" 
                        aria-describedby="clientName" 
                        placeholder="Enter Client Name"
                        v-validate="'required'"
                        name="Name"
                        v-model="name">
                     <small id="clientName" class="form-text text-danger">{{errors.first('Name')}}</small>
                </div>

                
                <div class="form-group">
                    <label for="companyName">Email</label>
                    <input 
                        type="email" 
                        class="form-control" 
                        id="email" 
                        aria-describedby="inviteEmail" 
                        placeholder="Enter Email Address"
                        v-validate="'required|email'"
                        name="Email"
                        v-model="email">
                     <small id="inviteEmail" class="form-text text-danger">{{errors.first('Email')}}</small>
                </div>


                <div class="form-group">
                    <label for="companyName">Address</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="address" 
                        aria-describedby="clientAddress" 
                        placeholder="Enter Address"
                        v-validate="'required'"
                        name="Address"
                        v-model="address">
                     <small id="clientAddress" class="form-text text-danger">{{errors.first('Address')}}</small>
                </div>

                <div class="form-group">
                    <label for="companyName">Date of Birth</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="birthday" 
                        aria-describedby="clientAddress" 
                        placeholder="Enter Birthday"
                        v-validate="'required|date_format:dd-MM-yyyy'"
                        name="Birthday"
                        v-model="birthday">
                     <small id="clientAddress" class="form-text text-danger">{{errors.first('Birthday')}}</small>
                </div>


                <button type="submit" class="btn btn-primary" @click="validateField">Submit</button>
            </div>
        </div>
    </div>
</template>

<script>
// const customMessages = {
//     custom: {
//         'companyName': {
//             required: 'Company Name is required'
//         }
//     }
// }

export default {
    props: ['company'],
    data() {
        return {
            name: '',
            email: '',
            address: '',
            birthday: ''
        }
    },
    mounted() {
        // this.$validator.localize('en', customMessages)
    },
    methods: {
        validateField () {
            this.$validator.validateAll().then((result) => {

                if(!result){

                    this.$swal({
                        type: 'error',
                        title: 'Ooopps!',
                        text: 'Some required fields are missing.',
                        showConfirmButton: false,
                        timer: 1500
                    })

                    return;
                }

                this.createClient()

            }).catch((e) => {
                console.log(e)
            });
        },
        createClient () {
            axios.post(`${this.company.path}/client`, {
                name: this.name,
                email: this.email,
                address: this.address,
                birthday: this.birthday
            }).then( res => {
                this.$store.commit('RESET_VIEW_CLIENT')
                this.$store.commit('SET_ALL_CLIENT', res.data.client)
                this.$swal({
                    type: 'success',
                    title: 'Congratulations',
                    text: res.data.success,
                    showConfirmButton: false,
                    timer: 1500,
                    onClose: () => {
                    //    window.location.replace("/dashboard/client")
                    }
                })

                this.email = ''

                this.$validator.reset()
            }).catch( err => {
                this.$swal({
                    type: 'error',
                    title: 'Ooopps!',
                    html: err.response.data.error,
                    showConfirmButton: false,
                    timer: 2000
                })
            })
        }
    }
}
</script>