<template>
    <a 
        @click="deleteClient"
        class="btn btn-outline-danger"
    >
        Delete
    </a>
</template>


<script>
export default {
    props: ['client'],
    methods: {
        deleteClient () {
            axios.delete(`${this.client.path}`)
            .then( res => {
                this.$store.commit('RESET_ALL_CLIENT')
                this.$store.commit('RESET_VIEW_CLIENT')
                this.$store.commit('SET_ALL_CLIENT', res.data.client)

                this.$swal({
                    type: 'success',
                    title: 'Congratulations',
                    text: res.data.success,
                    showConfirmButton: false,
                    timer: 1500
                })

            }).catch( err => {
                this.$swal({
                    type: 'error',
                    title: 'Ooopps!',
                    html: err.response.data.error,
                    showConfirmButton: false,
                    timer: 2000
                })
            })
        }
    }
}
</script>