<template>
    <div>
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="companyName">Invite User</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="email" 
                        aria-describedby="inviteEmail" 
                        placeholder="Enter Email Address"
                        v-validate="'required|email'"
                        name="Email"
                        v-model="email">
                     <small id="inviteEmail" class="form-text text-danger">{{errors.first('Email')}}</small>
                </div>
                <button type="submit" class="btn btn-primary" @click="validateField">Submit</button>
            </div>
        </div>
    </div>
</template>

<script>
// const customMessages = {
//     custom: {
//         'companyName': {
//             required: 'Company Name is required'
//         }
//     }
// }

export default {
    props: ['company'],
    data() {
        return {
            email: ''
        }
    },
    mounted() {
        // this.$validator.localize('en', customMessages)
    },
    methods: {
        validateField () {
            this.$validator.validateAll().then((result) => {

                if(!result){

                    this.$swal({
                        type: 'error',
                        title: 'Ooopps!',
                        text: 'Some required fields are missing.',
                        showConfirmButton: false,
                        timer: 1500
                    })

                    return;
                }

                this.createCompany()

            }).catch((e) => {
                console.log(e)
            });
        },
        createCompany () {
            axios.post(`${this.company.path}/invite`, {
                email: this.email
            }).then( res => {
                this.$swal({
                    type: 'success',
                    title: 'Congratulations',
                    text: res.data.success,
                    showConfirmButton: false,
                    timer: 1500
                })

                this.email = ''

                this.$validator.reset()
            }).catch( err => {
                this.$swal({
                    type: 'error',
                    title: 'Ooopps!',
                    html: err.response.data.error,
                    showConfirmButton: false,
                    timer: 2000
                })
            })
        }
    }
}
</script>