<template>
    <div>
        <view-details :details="$store.state.Loan.View"></view-details>
        <payment-create></payment-create>
        <payment-history></payment-history>
        <edit-loan></edit-loan>

        <table class="table table-striped table-bordered table-hover" v-if="$store.state.Loan.All.length != 0">
            
            <thead>
                <tr>
                <th scope="col" >Principal</th>
                <th scope="col" >Payables</th>
                <th scope="col" >Payment Made</th>
                <th scope="col" >Balance</th>
                <th scope="col"  style="width: 30%;" class="text-center" colspan="4">Option</th>
                </tr>
            </thead>
            <tbody>

                <tr 
                    v-for="(loan, index) in $store.state.Loan.All"
                    :key="index">
                    <td>${{loan.amount}}</td>
                    <td>${{loan.total_amount_payable}}</td>
                    <td>${{loan.total_payment}}</td>
                    <td>${{loan.balance}}</td>
                    <td>
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-toggle="modal" 
                            data-target="#data-loan"
                            @click="viewData(loan)">
                            View Data
                        </button>
                     </td>
                     <td>
                        <!-- <button
                            type="button" 
                            class="btn btn-primary btn-block"
                            data-toggle="modal"
                            data-target="#data-payment"
                            @click="viewData(loan)"
                            >
                            Payment
                        </button> -->
                        <button
                            type="button" 
                            class="btn btn-primary btn-block"
                            data-toggle="modal"
                            data-target="#data-history"
                            @click="viewData(loan)"
                            >
                            Payment History
                        </button>
                     </td>
                     <td>
                         <button
                            type="button" 
                            class="btn btn-primary btn-block"
                            data-toggle="modal"
                            data-target="#data-payment"
                            @click="viewData(loan)"
                            >
                            Create Payment
                        </button>
                    </td>
                    <td>
                        <button
                            type="button" 
                            class="btn btn-primary btn-block"
                            data-toggle="modal"
                            data-target="#edit-loan"
                            @click="viewData(loan)"
                            >
                            Edit Loan
                        </button>
                    </td>

                    
                </tr>

                
            </tbody>
        </table>

        <create-loan 
            :client="$store.state.Client.View"
            v-else></create-loan>


    </div>
</template>

<script>
import CreateLoan from './Create'
import EditLoan from './Edit'
import ViewDetails from './Data'
import PaymentCreate from './../Payment/Create'
import PaymentHistory from './../Payment/History'

export default {
    props: ['loans', 'client'],
    components: {
        CreateLoan,
        EditLoan,
        ViewDetails,
        PaymentCreate,
        PaymentHistory
    },
    created () {
        this.$store.commit('SET_VIEW_CLIENT', this.client)
        this.$store.commit('SET_ALL_LOAN', this.loans)
    },
    data() {
        return {
            tempData: []
        }
    },
    methods: {
        viewData (data) {
            this.$store.commit('SET_VIEW_LOAN', data)
        }
    }
}
</script>