<template>
    <div>
        <div class="card">
            <div class="card-body" v-if="client.open_loan != 0">
                <h3 class="text-center">This Client still have an on-going loan.</h3>
                <h3 class="mb-0 text-center">Please Settle first.</h3>
            </div>
            <div class="card-body" v-if="client.open_loan == 0">
                <h2>Create Loan for {{client.name}}</h2>

                <div class="form-group">
                    <label>Amount</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input 
                            v-validate="'required|integer'"
                            name="amount"
                            v-model="amount"
                            type="text" 
                            class="form-control" 
                            aria-label="Amount (to the nearest peso)">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>


                    </div>

                     <small class="form-text text-danger">{{errors.first('amount')}}</small>
                
                </div>

                <div class="form-group">
                    <label>Interest Rate per Month</label>

                    <div class="input-group">
                        <input 
                            type="text"
                            v-validate="'required|integer|between:3,100'"
                            name="interest"
                            v-model="interest" 
                            class="form-control" 
                            placeholder="Recipient's username" 
                            aria-label="Recipient's username" 
                            >
                        <div class="input-group-append">
                            <span class="input-group-text">%</span>
                        </div>
                    </div>

                     <small class="form-text text-danger">{{errors.first('interest')}}</small>

                </div>

                <div class="form-group">
                    <label for="term">How Many Months</label>
                    <select 
                        v-validate="'required'"
                        name="term"
                        v-model="term" 
                        class="form-control" 
                        id="term">
                            <option value="1">1 month</option>
                            <option value="2">2 months</option>
                            <option value="3">3 months</option>
                            <option value="4">4 months</option>
                            <option value="5">5 months</option>
                            <option value="6">6 months</option>
                            <option value="7">7 months</option>
                            <option value="8">8 months</option>
                            <option value="9">9 months</option>
                            <option value="10">10 months</option>
                            <option value="11">11 months</option>
                            <option value="12">12 months</option>
                    </select>

                     <small class="form-text text-danger">{{errors.first('term')}}</small>

                </div>


                <div class="form-group">
                    <label for="mode">Mode of Payment</label>
                    <select 
                        v-validate="'required'"
                        name="mode"
                        v-model="mode" 
                        class="form-control" 
                        id="mode">
                            <option value="2">Per Cut Off</option>
                            <option value="1">Per Month</option>
                    </select>

                     <small class="form-text text-danger">{{errors.first('mode')}}</small>

                </div>


                <button type="submit" class="btn btn-primary" @click="validateField">Submit</button>
            </div>
        </div>
    </div>
</template>

<script>
const customMessages = {
    custom: {
        'amount': {
            required: 'Amount is required',
            integer: 'Amount must be a number'
        }
    }
}

export default {
    props: ['client'],
    data() {
        return {
            amount: '',
            interest: 3,
            term: 3,
            mode: 1
        }
    },
    mounted() {
        this.$validator.localize('en', customMessages)
    },
    methods: {
        validateField () 
        {
            this.$validator.validateAll().then((result) => {

                if(!result){

                    this.$swal({
                        type: 'error',
                        title: 'Ooopps!',
                        text: 'Some required fields are missing.',
                        showConfirmButton: false,
                        timer: 1500
                    })

                    return;
                }

                this.createCompany()

            }).catch((e) => {
                console.log(e)
            });
        },
        createCompany () 
        {
            axios.post(`${this.client.path}/loan/create`, {
                amount: this.amount,
                interest: this.interest,
                term: this.term,
                mode: this.mode
            }).then( res => {
                this.$store.commit('RESET_ALL_LOAN')
                this.$store.commit('SET_ALL_LOAN', res.data.loans)

                this.$swal({
                    type: 'success',
                    title: 'Congratulations',
                    text: res.data.success,
                    showConfirmButton: false,
                    timer: 1500
                })

                this.amount = ''
                this.interest = ''
                this.term = ''
                this.mode = ''

                this.$validator.reset()
            }).catch( err => {
                this.$swal({
                    type: 'error',
                    title: 'Ooopps!',
                    html: err.response.data.error,
                    showConfirmButton: false,
                    timer: 2000
                })
            })
        }
    }
}
</script>