<template>
    <div class="modal fade" tabindex="-1" role="dialog" id="data-loan">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loadData">Loan Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                

                <div class="row align-items-centers">
                    <div class="col-sm">
                        <h5 class="mb-0"><strong>Principal Amount:</strong></h5>
                        <p>${{loan.amount}}</p>


                        <h5 class="mb-0"><strong>Interest Rate:</strong></h5>
                        <p>{{loan.interest}}% - ${{loan.total_interest_per_month}}</p>


                        <h5 class="mb-0"><strong>Term:</strong></h5>
                        <p>{{loan.term}}</p>


                        <h5 class="mb-0"><strong>Monthly Payment:</strong></h5>
                        <p>${{loan.monthly_amount}}</p>

                        <h5 class="mb-0"><strong>Balance:</strong></h5>
                        <p>${{loan.balance}}</p>
                    </div>
                    <div class="col-sm">
                        <h5 class="mb-0"><strong>Total Amount with Interest:</strong></h5>
                        <p>${{loan.total_amount_payable}}</p>

                        <h5 class="mb-0"><strong>Total Amount of Interest:</strong></h5>
                        <p>${{loan.total_interest}}</p>

                        <h5 class="mb-0"><strong>Mode of Payment:</strong></h5>
                        <p>{{loan.mode_text}}</p>


                        <h5 class="mb-0"><strong>Total Payment:</strong></h5>
                        <p>${{loan.total_payment}}</p>


                        <h5 class="mb-0"><strong>Number of remaining payment:</strong></h5>
                        <p>{{loan.remaining_term}}</p>

                    </div>

                </div>
            </div>
            <div class="modal-footer">

                <button
                    type="button" 
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#data-payment"
                    data-dismiss="modal"
                    >
                    Make Payment
                </button>
                <button
                    type="button" 
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#data-history"
                    data-dismiss="modal"
                    >
                    Payment History
                </button>
                <a 
                    :href="`${$store.state.Client.View.path}/loan/${$store.state.Loan.View.identifier}?v=stream`" 
                    target="_blank"
                    class="btn btn-secondary" 
                    >View Contract</a>
                <a 
                    :href="`${$store.state.Client.View.path}/loan/${$store.state.Loan.View.identifier}`" 
                    class="btn btn-secondary" 
                    >Download Contract</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['details'],
    data() {
        return {
            loan: []
        }
    },
    watch: {
        details (value) {
            this.loan = value
        }
    }
}
</script>