<template>
    <div class="modal fade" tabindex="-1" role="dialog" id="edit-loan">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loadData">Edit Loan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="$store.commit('RESET_VIEW_LOAN')">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label>Amount</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input 
                            :disabled="$store.state.Loan.View.payment_count != 0"
                            v-validate="'required|integer'"
                            name="amount"
                            v-model="amount"
                            type="text" 
                            class="form-control" 
                            aria-label="Amount (to the nearest peso)">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>


                    </div>

                     <small class="form-text text-danger">{{errors.first('amount')}}</small>
                
                </div>

                <div class="form-group">
                    <label>Interest Rate per Month</label>

                    <div class="input-group">
                        <input 
                            type="text"
                            v-validate="'required|integer|between:3,100'"
                            name="interest"
                            v-model="interest" 
                            class="form-control" 
                            placeholder="Recipient's username" 
                            aria-label="Recipient's username" 
                            >
                        <div class="input-group-append">
                            <span class="input-group-text">%</span>
                        </div>
                    </div>

                     <small class="form-text text-danger">{{errors.first('interest')}}</small>

                </div>

                <div class="form-group">
                    <label for="term">How Many Months</label>
                    <select 
                        v-validate="'required'"
                        name="term"
                        v-model="term" 
                        class="form-control" 
                        id="term">
                            <option value="1">1 month</option>
                            <option value="2">2 months</option>
                            <option value="3">3 months</option>
                            <option value="4">4 months</option>
                            <option value="5">5 months</option>
                            <option value="6">6 months</option>
                            <option value="7">7 months</option>
                            <option value="8">8 months</option>
                            <option value="9">9 months</option>
                            <option value="10">10 months</option>
                            <option value="11">11 months</option>
                            <option value="12">12 months</option>
                    </select>

                     <small class="form-text text-danger">{{errors.first('term')}}</small>

                </div>


                <div class="form-group">
                    <label for="mode">Mode of Payment</label>
                    <select 
                        v-validate="'required'"
                        name="mode"
                        v-model="mode" 
                        class="form-control" 
                        id="mode">
                            <option value="2">Per Cut Off</option>
                            <option value="1">Per Month</option>
                    </select>

                     <small class="form-text text-danger">{{errors.first('mode')}}</small>

                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" @click="validateField">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="$store.commit('RESET_VIEW_LOAN')">Close</button>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
const customMessages = {
    custom: {
        'amount': {
            required: 'Amount is required',
            integer: 'Amount must be a number'
        }
    }
}

export default {
    data() {
        return {
            amount: '',
            interest: 3,
            term: 3,
            mode: 1,
            path: ''
        }
    },
    mounted() {
        this.$validator.localize('en', customMessages)
    },
    computed: {
        viewLoan () {
            return this.$store.state.Loan.View
        }
    },
    watch: {
        viewLoan (value) {
            console.log(value)
            this.amount = value.amount_raw
            this.interest = value.interest
            this.term = value.term_raw
            this.mode = value.mode
            this.path = value.path
        }
    },
    methods: {
        validateField () 
        {
            this.$validator.validateAll().then((result) => {

                if(!result){

                    this.$swal({
                        type: 'error',
                        title: 'Ooopps!',
                        text: 'Some required fields are missing.',
                        showConfirmButton: false,
                        timer: 1500
                    })

                    return;
                }

                this.editLoan()

            }).catch((e) => {
                console.log(e)
            });
        },
        editLoan () 
        {
            axios.patch(`${this.path}`, {
                amount: this.amount,
                interest: this.interest,
                term: this.term,
                mode: this.mode
            }).then( res => {
                this.$store.commit('RESET_ALL_LOAN')
                this.$store.commit('RESET_VIEW_LOAN')
                this.$store.commit('SET_ALL_LOAN', res.data.loans)

                this.$swal({
                    type: 'success',
                    title: 'Congratulations',
                    text: res.data.success,
                    showConfirmButton: false,
                    timer: 1500
                })

                this.amount = ''
                this.interest = ''
                this.term = ''
                this.mode = ''

                $('#edit-loan').modal('hide')
                this.$validator.reset()
            }).catch( err => {
                this.$swal({
                    type: 'error',
                    title: 'Ooopps!',
                    html: err.response.data.error,
                    showConfirmButton: false,
                    timer: 2000
                })
            })
        }
    }
}
</script>