<template>
    <div class="modal fade" tabindex="-1" role="dialog" id="data-payment">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loadData">Create Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row align-items-centers">
                    <div class="col-sm">
                        

                        <h5 class="mb-0"><strong>Monthly Payment:</strong></h5>
                        <p>${{loan.monthly_amount}}</p>

                        
                    </div>
                    <div class="col-sm">

                        <h5 class="mb-0"><strong>Balance:</strong></h5>
                        <p>${{loan.balance}}</p>

                    </div>

                </div>

                <div class="form-group">

                    <label>Amount</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input 
                            v-validate="'required|integer'"
                            name="amount"
                            v-model="amount"
                            type="text" 
                            class="form-control" 
                            aria-label="Amount (to the nearest dollar)">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>


                    </div>

                     <small class="form-text text-danger">{{errors.first('amount')}}</small>
                
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" @click="validateField">Submit Payment</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
const customMessages = {
    custom: {
        'amount': {
            required: 'Amount is required',
            integer: 'Amount must be a number'
        }
    }
}

export default {
    data() {
        return {
            amount: '',
            loan: []
        }
    },
    computed: {
        viewLoan () {
            return this.$store.state.Loan.View
        }
    },
    watch: {
        viewLoan (value) {
            console.log(value)
            this.loan = value
        }
    },
    mounted() {
        this.$validator.localize('en', customMessages)
    },
    methods: {
        validateField () {
            this.$validator.validateAll().then((result) => {

                if(!result){

                    this.$swal({
                        type: 'error',
                        title: 'Ooopps!',
                        text: 'Some required fields are missing.',
                        showConfirmButton: false,
                        timer: 1500
                    })

                    return;
                }

                this.createPayment()

            }).catch((e) => {
                console.log(e)
            });
        },
        createPayment () {
            
            axios.post(`${this.loan.path}/payment`, {
                amount: this.amount
            }).then( res => {
                this.$store.commit('RESET_ALL_LOAN')
                this.$store.commit('SET_ALL_LOAN', res.data.loans)

                this.$swal({
                    type: 'success',
                    title: 'Congratulations',
                    text: res.data.success,
                    showConfirmButton: false,
                    timer: 1500
                })

                this.amount = ''
                $('#data-payment').modal('hide')
                this.$validator.reset()
            }).catch( err => {
                this.$swal({
                    type: 'error',
                    title: 'Ooopps!',
                    html: err.response.data.error,
                    showConfirmButton: false,
                    timer: 2000
                })
            })
        }
    }
}
</script>