<template>
    <div class="modal fade" tabindex="-1" role="dialog" id="data-history">
        <div class="modal-dialog modal-lg" role="document" v-if="loan.length != 0">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loadData">Payment History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row align-items-centers">
                    <div class="col-sm">
                        

                        <h5 class="mb-0"><strong>Total Payment Made:</strong></h5>
                        <p>${{loan.total_payment}}</p>

                        
                    </div>
                    <div class="col-sm">

                        <h5 class="mb-0"><strong>Balance:</strong></h5>
                        <p>${{loan.balance}}</p>

                    </div>
                    <div class="col-sm">

                        <h5 class="mb-0"><strong>Suggested Payment:</strong></h5>
                        <p>${{loan.monthly_amount}}</p>

                    </div>

                </div>

                <hr>


                <table class="table table-bordered table-dark" v-if="loan.payment_history.length != 0">
                    <thead>
                        <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr 
                            v-for="(payment, index) in loan.payment_history"
                            :key="index"
                         >
                        <td>{{payment.date}}</td>
                        <td>${{payment.amount}}</td>
                        </tr>
                    </tbody>
                </table>

                <div v-else>
                    <p class="mb-0 text-center">No Payment Found.</p>
                </div>
               

            </div>
            <div class="modal-footer">
                <button
                            type="button" 
                            class="btn btn-primary"
                            data-toggle="modal"
                            data-target="#data-payment"
                            data-dismiss="modal"
                            >
                            Make Payment
                        </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            amount: '',
            loan: []
        }
    },
    computed: {
        viewLoan () {
            return this.$store.state.Loan.View
        }
    },
    watch: {
        viewLoan (value) {
            console.log(value)
            this.loan = value
        }
    },
}
</script>